section.uptown-dropdown-container {
    position: relative;
}

section.uptown-dropdown-container header {
    display: flex;
    cursor: pointer;
    user-select: none;
}

section.uptown-dropdown-container header span.__uptown-dropdown-placeholder {
    flex: 1 1;
}

section.uptown-dropdown-container header span.__uptown-dropdown-icon {
    align-self: flex-end;
    align-content: right;
}

/* expander styles and toggle animation */

section.uptown-dropdown-container .__uptown-dropdown-body {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    overflow: hidden;
}

section.uptown-dropdown-container .__uptown-dropdown-expand.__anime {
    transform: scaleY(1);
    transform-origin: center top;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container .__uptown-dropdown-collapse.__anime {
    transform: scaleY(0);
    transform-origin: center top;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container .__uptown-dropdown-expand.__no-anime {
    display: flex;
}

section.uptown-dropdown-container .__uptown-dropdown-collapse.__no-anime {
    display: none;
}