section.uptown-dropdown-container {
    position: relative;
}

section.uptown-dropdown-container header {
    display: flex;
}

section.uptown-dropdown-container header span.uptown-dropdown-placeholder {
    flex: 1 1;
}

section.uptown-dropdown-container header span.uptown-dropdown-icon {
    align-self: flex-end;
    align-content: right;
}

/* expander styles and toggle animation */

/* orientation: vertical */

section.uptown-dropdown-container.uptown-orientation-vertical .uptown-dropdown-body {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    overflow: hidden;
}

section.uptown-dropdown-container.uptown-orientation-vertical .uptown-dropdown-expand.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleY(1);
    transform-origin: center top;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical .uptown-dropdown-collapse.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleY(0);
    transform-origin: center top;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical .uptown-dropdown-expand.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: center top;
    transition: all 0.20s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical .uptown-dropdown-collapse.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: center top;
    transition: all 0.20s ease-out;
}

/* orientation: vertical-reverse */

section.uptown-dropdown-container.uptown-orientation-vertical-reverse .uptown-dropdown-body {
    position: absolute;
    bottom: 100%;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    overflow: hidden;
}

section.uptown-dropdown-container.uptown-orientation-vertical-reverse .uptown-dropdown-expand.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleY(1);
    transform-origin: center bottom;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical-reverse .uptown-dropdown-collapse.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical-reverse .uptown-dropdown-expand.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: center top;
    transition: all 0.20s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-vertical-reverse .uptown-dropdown-collapse.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: center bottom;
    transition: all 0.20s ease-out;
}

/* orientation: horizontal */

section.uptown-dropdown-container.uptown-orientation-horizontal .uptown-dropdown-body {
    position: absolute;
    left: 100%;
    top: 0%;
    z-index: 20;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

section.uptown-dropdown-container.uptown-orientation-horizontal .uptown-dropdown-expand.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleX(1);
    transform-origin: left center;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal .uptown-dropdown-collapse.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleX(0);
    transform-origin: left center;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal .uptown-dropdown-expand.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: left center;
    transition: all 0.20s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal .uptown-dropdown-collapse.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: left center;
    transition: all 0.20s ease-out;
}

/* orientation: horizontal-reverse */

section.uptown-dropdown-container.uptown-orientation-horizontal-reverse .uptown-dropdown-body {
    position: absolute;
    right: 100%;
    top: 0%;
    z-index: 20;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

section.uptown-dropdown-container.uptown-orientation-horizontal-reverse .uptown-dropdown-expand.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleX(1);
    transform-origin: right center;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal-reverse .uptown-dropdown-collapse.uptown-anime.uptown-non-calculated-dimension-anime {
    transform: scaleX(0);
    transform-origin: right center;
    transition: all .22s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal-reverse .uptown-dropdown-expand.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: right center;
    transition: all 0.20s ease-out;
}

section.uptown-dropdown-container.uptown-orientation-horizontal-reverse .uptown-dropdown-collapse.uptown-anime.uptown-calculated-dimension-anime {
    transform-origin: right center;
    transition: all 0.20s ease-out;
}

section .uptown-dropdown-expand.uptown-anime.uptown-fade-opacity {
    opacity: 1;
}

section .uptown-dropdown-collapse.uptown-anime.uptown-fade-opacity {
    opacity: 0;
}

section .uptown-dropdown-expand.uptown-anime.uptown-maintain-opacity {
    opacity: 1;
}

section .uptown-dropdown-collapse.uptown-anime.uptown-maintain-opacity {
    opacity: 1;
}

/* no anime */

section.uptown-dropdown-container .uptown-dropdown-expand.uptown-no-anime {
    display: flex;
}

section.uptown-dropdown-container .uptown-dropdown-collapse.uptown-no-anime {
    display: none;
}